@import "../../styles/variables.scss";
@import "../../styles/color.scss";

.weather {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;

  .weather-city {
    flex: 100%;
    justify-content: flex-start;
    color: $cadet-blue-crayola;
    column-gap: 1rem;
    p {
      font-size: 2em;
      font-weight: 800;
      padding: 0;
      margin-bottom: 0;
    }
  }
  .weather-detail {
    padding-top: 1rem;
    flex: 100%;
    display: flex;
    justify-content: flex-start;
  }
}
