@import "../../styles/variables.scss";
@import "../../styles/color.scss";

.weather {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-left: 3em;
  padding-right: 3em;

  .weather-region {
    flex: 100%;
    display: flex;
    flex-direction: column;
    color: $sonic-silver;

    .weather-country {
      font-size: 2em;
      font-weight: 800;
      padding: 0;
      margin-bottom: 0;
    }
    .weather-city {
      font-size: 1.2em;
      font-weight: 600;
      padding-top: 0.4em;
      padding-left: 0.3em;
    }
  }
  .weather-detail {
    padding-top: 1rem;
    flex: 100%;
    display: flex;
    justify-content: flex-start;
  }
}
