@import "../../styles/color.scss";

.weather-temperature {
  flex: 30%;
  height: 13em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $davys-grey;

  .weather-icon {
    width: 12em;
  }
  .degrees-value {
    font-size: 5em;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  .weather-status {
    margin: 0;
    padding: 0;
  }
}
