@import "../../styles/color.scss";
@import "../../styles/variables.scss";

.search-bar {
  color: $gainsboro;
  display: flex;

  .search-bar-container {
    display: flex;
    margin-inline: auto;

    i {
      padding-left: 0.4rem;
      padding-top: 0.5rem;
      position: absolute;
      font-size: 1.2em;
    }

    input {
      outline: none;
      border: none;
      padding: 0.6rem;
      border-radius: 1em;
      padding-left: 1.8rem;
      width: $sm;
    }

    ::placeholder {
      color: $gainsboro;
    }
  }
}
