@import "./styles/font.scss";

* {
  font-family: $font-stack;
}
.App {
  padding-top: 5em;
}
body {
  height: 100vh;
}

html {
  background-image: url(./img/weather.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
